* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: #e3f1f2;
}
.nav {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav a {
  text-decoration: none;
}
.item1,
.item2,
.item3 {
  flex-grow: 2;
}
.item4,
.item5 {
  flex-grow: 1;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}
.item4 {
  color: #008d96;
  border: 1px solid #008d96;
}
.nav .logo {
  width: 10vw;
  height: 30px;
}
.nav .vektor {
  width: 23px;
  height: 16px;
}
.item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.item2 {
  color: #1b2221;
}
.item3 {
  color: #008d96;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.item5 {
  margin-left: 1%;
  background-color: #008d96;
  color: white;
}
.info {
  color: #e3f1f2;
  height: 500px;
  display: flex;
  align-items: center;
}
.infoContainer {
  padding: 50px 0;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #e3f1f2;
}
.infoLeft {
  width: 48%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.infoRight {
  height: 350px;
  width: 48%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.infoRight img {
  width: 100%;
}
.infoLeft h1 {
  width: 80%;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #1b2221;
}
.infoLeft h1 span {
  color: #f5af15;
}
.infoLeft a {
  display: flex;
  justify-content: center;
  border-radius: 70px;
  align-items: center;
  background-color: #008d96;
  color: white;
  width: 12vw;
  height: 55px;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  margin-top: 20px;
  gap: 7px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.courses {
  width: 100%;
  padding: 20px 15%;
  margin: 70px auto;
  background-color: #fff;
}
.coursesHeader {
  display: flex;
  align-items: center;
}
.coursesHeader h1 {
  color: #1b2221;
  size: 41px;
  line-height: 68px;
  flex-grow: 4;
}
.coursesHeader a {
  flex-grow: 1;
  text-decoration: none;
  font-weight: 600;
  font-style: 18px;
  line-height: 22.6px;
  color: #008d96;
  border: 1px solid #008d96;
  border-radius: 8px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
a.all {
  background-color: #008d96;
  color: white;
}
.courseCards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 30px auto;
  gap: 10px;
}
.courseCard {
  width: 227px;
  padding: 10px;
  box-shadow: 1px 1px 1px 0px #a2b0b1;
  border-radius: 20px;
  margin: 0 auto 40px;
}
.courseCard img {
  width: 100%;
  height: 120px;

  border-radius: 12px;
}
.courseName {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}
.courseName .name {
  background-color: #eee6d4;
  height: 30px;
  width: 90px;
  line-height: 20px;
  text-align: center;
  border-radius: 7px;
}
.courseName span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.courseName .length {
  color: #939393;
}
.courseInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt {
  width: 70%;
}
.playIcon {
  color: #008d96;
  font-size: 50px;
}
.allCourses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.allCourses a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6%;
  width: 200px;
  background-color: #008d96;
  text-decoration: none;
  font-size: 20px;
  height: 55px;
  line-height: 25px;
  color: white;
  border-radius: 60px;
}
.allCourses i {
  text-align: center;
  margin-left: 20px;
}


.advantages {
  padding: 50px 100px 50px 11%;
}
.advantages > h1 {
  font-size: 41px;
  line-height: 68px;
  color: #1b2221;
}
.advantages > p {
  font-size: 20px;
  line-height: 36px;
}
.advantage h5 {
  color: #1b2221;
  font-size: 20px;
  line-height: 25px;
}
.advantage p {
  font-size: 13px;
  line-height: 20px;
  color: #939393;
  text-align: center;
}
.advantagesContent {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.advantageImg {
  width: 390px;
  height: 420px;
  border-radius: 50%;
  background-color: #d3eff1;
}
.advantageImg img {
  width: 100%;
  height: 100%;
}
.advantageCards {
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantage {
  width: 250px;
  height: 245px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: #fff;
}
.adVector img {
  width: 30px;
  height: 30px;
}
.advantage2,
.advantage4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.advantage2 .adVector {
  background-color: #64b7f4;
}
.advantage3 .adVector {
  background-color: #46ab99;
}
.advantage4 .adVector {
  background-color: #ffae01;
}
.adVector {
  width: 60px;
  height: 60px;
  background-color: #f57170;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerSection {
  background-color: rgb(27, 104, 128);
  width: 100%;
  padding: 70px 15% 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 100px;
}
.logoContainer img {
  width: 170px;
  height: 28.84848403930664px;
}
.logoContainer {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.logoContainer > p {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 10px;
}
.footer li {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.footer a {
  color: white;
  text-decoration: none;
}
.signUp {
  width: 300px;
}
.signUp p {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.signUp p span {
  font-family: Mulish;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.copyRight {
  color: #fff;
  padding: 10px 0;
  border-top: 1px solid;
  display: flex;
  justify-content: space-between;
  font-family: Mulish;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
